.slider-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider-circle{
    width: 10px;
    height: 10px;
    background-color: #7f8c8d;
    border-radius: 50%;
    margin: 0 10px;
}

.active.slider-circle{
    background-color: white;
}